aio-pika==9.4.1
APScheduler==3.10.4
pybase62==1.0.0
cassandra_driver==3.29.0
Flask==3.0.2
Flask-Cors==4.0.0
Flask_Parameter_Validation==2.2.4
grpcio==1.62.1
gunicorn==21.2.0
pika==1.3.2
protobuf==5.26.0
psycopg2_binary==2.9.9
pybloomfiltermmap3==0.5.7
redis==5.0.3
twitchAPI==4.2.0
